.icon-raw {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
  color: white;
}
.icon-raw__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-raw__icon i {
  font-size: 32px;
}

.icon-raw__icon span {
  margin-top: 18px;
}
